@import "bootstrap/scss/bootstrap";

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.core-sprite {
  background-image: image_url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.navbar-brand {
  background-position: -167px 0;
  height: 35px;
  width: 167px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.explore-icon {
  background-position: no-repeat -275px -345px;
  height: 24px;
  width: 24px;
}

.notification-icon {
  background-position: no-repeat -325px -321px;
  height: 24px;
  width: 24px;
}

.pofile-icon {
  background-position: no-repeat -308px -171px;
  height: 24px;
  width: 24px;
}